  #video2 { 
    position: fixed;
    z-index: -1; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 40%;
    left: 50%;
    background-size: cover;
    transform: translate(-50%,-40%);
    
    
  }

   .big12{
    color: beige;
    font-size: 48px; 
    text-align: center;
    text-shadow: whitesmoke 1.2px 0 4px ;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .big22{
    color: beige;
    font-size: 36px; 
    text-align: center;
    text-shadow: whitesmoke 0.8px 0 3px ;
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

   .font2{
    color: cornsilk;
    font-size: x-large;
    font-family: cursive; 
    text-align: center;
    line-height: 1.25;
   }

   .fontt2{
    color: mediumaquamarine;
    font-size: 24px;
    font-family: cursive; 
    text-align: center;
    line-height: 1.25;
   }
   
  hr {
    color:honeydew;
    border-color: white; 
    border:none;
    border-top:1px solid; 
    margin:1em 20%;  
    }
  
    .button2 {
      background-color: transparent; 
      border: white;
      color:paleturquoise;
      box-shadow: white 1px 1px 1px 1px;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      position: absolute;
      cursor: pointer;
       top: 600px;
       left: 650px;

 }
    
 
.text2{
  color: rgb(255, 144, 48);
    font-style:normal;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
}


.square12 {
  background-image: url('./pages/images/s.jpg');
    height: 200px;
    width: 180px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
    margin-top: 300px;
    margin-left: 180px;
    margin-bottom: 20px;
}
.square22 {
  background-image: url('./pages/images/l.jpg');
    height: 200px;
    width: 180px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    margin-left: 300px;
    position: relative;
}
.square32 {
  background-image: url('./pages/images/v.jpg');
    height: 200px;
    width: 180px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    margin-left: 300px;
}
.square42 {
  background-image: url('./pages/images/r.jpg');
    height: 200px;
    width: 180px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    margin-left: 300px;
}

.texting12{
  color: darksalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 200px;

}
.texting22{
  color: darksalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 162px;
}
.texting32{
  color: darksalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 125px;
}
.texting42{
  color: darksalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 125px;
}

.imagea2{
    background-image: url('./pages/images/s1.jpg');
    height: 300px;
    width: 225px;
    background-position: center;
    background-size: cover;
    margin-left: 200px;
}
.imageb2{
    background-image: url('./pages/images/l1.jpg');
    height: 300px;
    width: 225px;
    background-position: center;
    background-size: 132%;
    margin-left: 300px;
}
.imagec2{
    background-image: url('./pages/images/v1.jpg');
    height: 300px;
    width: 225px;
    background-position: center;
    background-size: 128%;
    margin-left: 300px;
}
.imaged2{
    background-image: url('./pages/images/r1.jpg');
    height: 300px;
    width: 225px;
    background-position: center;
    background-size: cover;
    margin-left: 300px;
}